<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Image Search Abstraction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<div class="container">
		<img src="https://avatars0.githubusercontent.com/jaketripp?&s=300" alt="A picture of me (Jake Tripp)">
		<br/>

		<div class="icons">
			<a href="http://jaketripp.com" target="_blank"><i class="address card outline icon"></i></a>
			<a href="https://github.com/jaketripp" target="_blank"><i class="github icon"></i></a>
			<a href="https://www.linkedin.com/in/jake-tripp/" target="_blank"><i class="linkedin icon"></i></a>
			<a href="https://medium.com/@jaketripp" target="_blank"><i class="medium icon"></i></a>
		</div>


		<h1>FreeCodeCamp API Project #2: Request Header Parser</h1>

		<blockquote>
			<p>User stories:</p>
			<ul>
				<li>I can get the IP address, language and operating system for my browser.</li>
			</ul>
		</blockquote>

		<h3>Your IP address, language, and OS</h3>
    <code>
    {
    <br/>
    ipaddress: <%- user.ipaddress %>,
    <br/>
    language: <%- user.language %>,
    <br/>
    software: <%- user.software %>
    <br/>
    }
    <br/>
    </code>

	</div>

</body>

</html>